{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Активность</title>
  <link rel="stylesheet" type="text/css" href="{% static "retman_crm/styles.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "retman_crm/calendar-heatmap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "retman_crm/bulma.css" %}"
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="section">
  <div class="container">
    <a href="/dashboard/">
      <div>
        <img border="0" src="{% static "retman_crm/arrow.png" %}" width="25" height="25" class="b-p-img">
      </div>
    </a>
    <div class="box">
      <h1 class="is-size-3 b-p" style="padding-left: 30px" id="ah1"> Активность </h1>
      <div id="chart-one">
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static "retman_crm/moment.js" %}"></script>
<script src="{% static "retman_crm/calendar-heatmap.js" %}"></script>
<script src="{% static "retman_crm/activity.js" %}"></script>
</body>