{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Стоимости</title>
  <link rel="stylesheet" type="text/css" href="{% static "retman_crm/styles.css" %}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="section">
  <div class="container">
    <a href="/dashboard/">
      <div>
        <img border="0" src="{% static "retman_crm/arrow.png" %}" width="25" height="25" class="b-p-img">
      </div>
    </a>
    <div class="columns">
      <div class="column">
        <div id="costs" class="box">
          <h1 class="is-size-3 b-p"> Стоимости </h1>
          <div v-for="item in info">
            <cost
              v-bind:cost="item">
            </cost>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div  class="box">
          <h1 class="is-size-3 b-p"> Добавить </h1>
          <form id="form_cost" class="control">
              {% csrf_token %}
              <div class="field">
                <label class="label">Тип</label>
                {% render_field form.type class+="input"%}
              </div>
              <div class="field">
                <label class="label">Количество</label>
                {% render_field form.amount class+="input"%}
              </div>
              <div class="field">
                <label class="label">Стоимость</label>
                {% render_field form.value class+="input"%}
              </div>
              <button class="button is-info">Добавить</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "retman_crm/costs.js" %}"></script>
</body>