{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ name }}</title>
  <link rel="stylesheet" type="text/css" href="{% static "retman_crm/styles.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "retman_crm/bulma.css" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="modal" id="modal">
  <div class="modal-background" onclick="modal.close()"></div>
    <div class="modal-content">
      <div class="box">
        <video id="take-photo" autoplay></video>
      </div>
    </div>
  <button class="modal-close is-large" aria-label="close" onclick="modal.close()"></button>
</div>

<section class="section">
  <div class="container">
    <a href="/dashboard/">
      <div>
        <img border="0" src="{% static "retman_crm/arrow.png" %}" width="25" height="25" class="b-p-img">
      </div>
    </a>
    <div class="columns">
      <div class="column is-9">
        <div class="box">
        <div class="columns" id="customer">
            <div class="column">
              <img v-if="info.photo != null" :src="info.photo" id="take-photo-button">
              <img v-else src="/media/images/blank.png" id="take-photo-button">
            </div>
            <div class="column is-8">
              <customer-full
                v-bind:customer="info">
              </customer-full>
            </div>
          </div>
        </div>
        <div id="customer_membership" class="box">
          <div v-if="Object.keys(info).length != 0">
            <div v-for="item in info" >
              <membership
                v-bind:membership="item">
              </membership>
            </div>
          </div>
          <div v-if="Object.keys(info).length === 0">
            <p>Нет активного абонемента</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div id="create_visitation" class="box">
          <h1 class="is-size-3 b-p"> Посещение </h1>
          <form id="form_visitation" class="control">
            {% csrf_token %}
            <div class="field">
              <label class="label">Выданный ключ</label>
              {% render_field visitation_form.key_number|attr:"autofocus" class+="input" min="0"%}
            </div>
            <div class="field" id="trainers">
              <label class="label">Тренер</label>
              <trainers
                v-bind:trainers="info">
              </trainers>
            </div>
            <div class="field">
              <label class="label">Тип</label>
              <div class="radio">
                {% render_field visitation_form.type %}
              </div>
            </div>
            <button class="button is-info">Добавить</button>
          </form>
        </div>
      </div>
    </div>

    <div id="customer_notes" class="box">
      <form id="form_notes" class="control">
        {% csrf_token %}
        <div class="field">
          {% render_field notes_form.notes class+="input" id="notes"%}
        </div>
        <div class="flex-centered">
          <button class="button is-info">Сохранить</button><p id="saved-text">Сохранено!</p>
        </div>

      </form>
    </div>

    <div id="customer_memberships" class="box">
      <h1 class="is-size-3 b-p" id="mh1"> Все абонементы посетителя </h1>
      <div id="list_memberships" class="is-hidden">
        <div v-if="Object.keys(info).length != 0">
          <div v-for="item in info" >
            <short-membership
              v-bind:membership="item">
            </short-membership>
          </div>
        </div>
        <div v-if="Object.keys(info).length === 0">
          <p>Нет абонементов</p>
        </div>
      </div>
    </div>

    <div id="customer_visitations" class="box">
      <h1 class="is-size-3 b-p" id="vh1"> Все посещения </h1>
      <div id="list_visitations" class="is-hidden">
        <div v-if="Object.keys(info).length != 0">
          <div v-for="item in info">
            <visitation
              v-bind:visitation="item">
            </visitation>
          </div>
        </div>
        <div v-if="Object.keys(info).length === 0">
          <p>Нет посещений</p>
        </div>
      </div>  
    </div>

    <div class="columns">
      <div class="column">
        <div id="create_membership" class="box membership-box">
          <h1 class="is-size-3 b-p"> Добавить абонемент </h1>
          <form id="form_membership" class="control">
            {% csrf_token %}
            <div class="field" id="membership_types">
              <label class="label">Тип</label>
              <membership-types
                v-bind:types="info">
              </membership-types>
            </div>
            <div class="field">
              <label class="label">Стоимость</label>
              {% render_field membership_form.cost class+="input" id="ms_value" min="0"%}
            </div>
            <div class="field">
              <label class="label">Дата начала абонемента</label>
              {% render_field membership_form.enrollment_date class+="input"%}
            </div>
            <button class="button is-info">Добавить</button>
          </form>
        </div>
      </div>

      <div class="column is-one-third">
        <div id="freeze" class="box">
          <h1 class="is-size-3 b-p"> Заморозить абонемент </h1>
          <form id="form_freeze" class="control">
            {% csrf_token %}
            <div class="field">
              <label class="label">Количество дней</label>
              <input type="number" min="0" step="1" name="days" class="input">
            </div>
            <div class="field">
              <label class="label">Дата начала заморозки</label>
              {% render_field freeze_form.freeze_start class+="input"%}
            </div>
            <button class="button is-info">Заморозить</button>
          </form>
        </div>
      </div>

    </div>

  </div>

</section>

  <script src="{% static "retman_crm/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "retman_crm/axios.min.js" %}"></script>
  <script src="{% static "retman_crm/vue.js" %}"></script>
  <script src="{% static "retman_crm/customer.js" %}"></script>
</body>
</html>