<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Абонементы</title>
  <script src="https://kit.fontawesome.com/1ccd8cc7fd.js" crossorigin="anonymous"></script>
</head>

<body>
{% if can_see_stats %}
  <div id="memberships">
      <!-- React will load here -->
  </div>
{% else %}
  <section class="section">
    <div class="container">
      <a href='/' class="back-arrow has-margin-bottom-7">
        <i class="fas fa-arrow-left"></i>
      </a>
      <div class="box">
        У вас нет доступа к этой странице.
      </div>
    </div>
  </section>
{% endif %}
</body>

{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>
